* {
    padding: 0;
    margin: 0;
  }
  
  .first{
    height: 500px;
    width: 400px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 30px;
    background-color: white;
    box-shadow: #010401;
   align-items: center;
   text-align: center;  
   border: 1px solid #ccc;
  }
  .border{
    display: flex;
    justify-content: space-evenly;
    margin-top: 0%;
    
  }
  .allA{
    background-color: white;
    height: 450px;
    width: 350px;
    display: grid;
   grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 800px;
    margin-top: 0px;
    text-align: center;
  }
  .detail{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .firstA{
    background-color: white;
    height: 450px;
    width: 350px;
    display: grid;
    
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 500px;
    margin: auto;
    text-align: center;
    
  }
  .firstA img{
    width: 100%;
    max-width: 150px;
  }
  .item{
    
    padding: 10px;
    border-radius: 10px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 200px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  .footer {
    display: flex;
  }
  .checkout {
    padding: 3px;
    margin: 3px;
    background: #04aa6d;
    cursor: pointer;
  }
  .cartArea {
    position: fixed;
    transition: 0.5;
    right: -100%;
  }
  .cartArea.active {
    right: 0%;
  }
  .closed {
    padding: 3px;
    margin: 3px;
    background: #04aaed;
    cursor: pointer;
  }
  .main {
    display: flex;
  }
  .aside h3 {
    border-radius: 7px;
    width: 100px;
    padding: 6px;
    margin: 10px;
    font-weight: 900;
    background-color: #04aa6d;
  }
  .aside {
    position: fixed;
    padding-top: 30px;
    padding-left: 10px;
    width: 100px;
    height: 300px;
  }
  .btn-cat {
    padding: 10px;
    margin: 6px;
    border-radius: 7px;
    width: 80px;
    background-color: #04aa6d;
    transition: 0.5s;
  }
  .btn-cat:hover {
    box-shadow: 0 8px 50px -7px black;
  }
  #icon {
     height: 20px;
     width: 20px ;
     font-size: 18px;
     color: black ;
  }
  .btn {
    padding: 10px;
    margin: 10px;
    transition: 0.5s;
    border-radius: 5px;
    width: 40px;
  }
  .btn:hover {
    box-shadow: 0 8px 50px -7px black;
  }
  .add-cart {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  .card img {
    width: 150px;
    height: 150px;
  }
  .add-cart:hover {
    opacity: 0.7;
  }
  /* .container-cart{
    display: none;
  } */
 
  button{
    cursor: pointer;
  }
  /* .container-cart {
   display: flex;
   width: 70%;
   margin-bottom: 30px;
  } */
  #root{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

  }
  .sidebar{
    width: 20%;
    border-radius: 5px;
    background-color: #eee;
    margin-left: 70%;
    padding: 15px;
    text-align: center;
  }
  .head{
    background-color: #04aa6d;
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    align-items: center;
    
  }
  .foot{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 10px 0;
    font-size: 12px;
    border-top: 1px solid black;
  }
  .hide {
    display: none;
  }
  
  .sidebar {
    display: none;
    /* your sidebar styles */
  }
  
  .sidebar.active {
    display: block;
  }
  .dropbtn {
    background-color: #a5aa04;
    color: white;
    padding: 6px;
    margin-top: 25px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    padding-left: 20px;
    margin-left: 20px;
  }
  button {
    background-color: transparent;
    border: transparent;
  }
  .searchBar {
    padding-top: 12px;
    width: 40%;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
  }
  .menu ul {
    display: flex;
    list-style: none;
    padding: 20px;
  }
  .menu ul li {
    padding: 10px;
  }
  .menu ul a {
    text-decoration: none;
    color: #000;
    transition: 0.5s;
  }
  .menu ul a:hover {
    color: #a5aa04;
  }
  
  .logo img {
    width: 80px;
    border-radius: 50%;
    padding: 10px;
  }
  .navBar {
    background-color: #04aa6d;
    display: flex;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    align-items: center;
  }
  button .dp{
    margin-top: 10px;
    margin-right: 100px;
    height: 200px;
    width: 200px;
    background-color: #f1f1f1;
    border-radius: 20px;
    background-image: url(img/bracelet.PNG);
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #010401;
  }
  .input {
    padding-left: 10px;
    margin-left: 10px;
    height: 30px;
    width: 60%;
    border-radius: 10px;
    border: #04aa6d;
  }
  .form { font-family: Arial;
     display: flex;
     justify-content: center;
      flex-direction: column; 
      align-items: center; 
      padding: 20px; }
  .btn { 
    background-color: #04aa6d;
    color: white;
    padding: 10px;
    width: 10%;
    border: none;
    border-radius: 4px;
    cursor: pointer; 
}
  
  .form-container input {
      display: flex; 
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      padding: 10px; 
      }
    #signup{
      display: flex;
      flex-direction: column;
     gap: 10px;
      align-items: center;
      text-align: center;
    }
    #login{
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      text-align: center;
    }
    #signup button{
      width: 40%;
    }
    #login button{
      width: 40%;
    }
    .form{
      margin-top: 10px;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }  
  .hamburger {
   display: none;     
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    right: 10px;
    top: 35px;
  }
  
  

@media (max-width: 1024px) {
    .main {
      flex-direction: column;
      align-items: center;
    }
    .navBar{
        height: 100px;
        width: 100%;
       
    }
    .hamburger {
        display: block; 
        font-size: 25px;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    right: 15px;
    top: 25px;

      }
   
    .menu {
        display: none;
        flex-direction: column;
        background-color: #f1f1f1;
        position: absolute;
        margin-top: 60px;
        top: 50px;
        right: 15px;
        padding: 10px;
        box-shadow: 0px 0px 10px #aaa;
        border-radius: 8px;
      }
      .menu a {
        text-decoration: none;
        color: #333;
        padding: 5px 0;
      }  
        .aside {
      position: static;
      width: 100%;
      height: auto;
      display: flex;
     
      justify-content: center;
    }
  
    .aside h3 {
      width: auto;
      margin-bottom: 10px;
    }
  
    .btn-cat {
      width: auto;
      margin: 5px;
    }
  
    .container {
      
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      width: 100%;
      margin: 20px;
    }
  
    .searchBar {
      width: 100%;
      padding: 10px;
    }
  
    .navBar {
        display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      
    }
  
    .menu ul {
      flex-direction: column;
      padding: 0;
    }
  
    .logo img {
      width: 60px;
    }
  
    .dropbtn {
      margin: 10px 0;
    }
    
  }
  @media (max-width: 768px){

    .main {
        flex-direction: column;
        align-items: center;
        height: 50px;
      }
      .hamburger {
        display: block; 
        font-size: 20px;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    right: 10px;
    top: 25px;

      }
     button .btn{
        font-size: 100px;
     }
      .menu {
          display: none;
          flex-direction: column;
          background-color: #f1f1f1;
          position: absolute;
          margin-top: 100px;
          top: 10px;
          right: 10px;
          padding: 10px;
          box-shadow: 0px 0px 10px #aaa;
          border-radius: 8px;
        }
        .menu a {
          text-decoration: none;
          color: #333;
          padding: 5px 0;
        }  
          .aside {
        position: static;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    
      .aside h3 {
        width: auto;
        margin-bottom: 10px;
      }
    
      .btn-cat {
        width: auto;
        margin: 5px;
      }
    
      .container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        width: 100%;
        margin: 40px;
      }
    
      .searchBar {
        width: 50%;
        padding: 5px;
       
      }
    
      .navBar {
        display: flex;
        gap: 5px;
        flex-direction: row;
        align-items: center;
        text-align: center;
      }
    
      .menu ul {
        flex-direction: column;
        padding: 0;
        width: 100px;
        height: 100px;
      }
    
      .logo img {
        width: 70px;
        height: 50px ;
        margin-left: 15px;
      }
    
      .dropbtn {
        margin: 10px 0;
      }

  }
  @media (max-width: 640px)
  
  {
    .main {
        flex-direction: column;
        align-items: center;
        height: 90px;
      }
      .hamburger {
        display: block; 
        font-size: 15px;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    right: 5px;
    top: 15px;

      }
     button .btn{
        font-size: 40px;
     }
      .menu {
          display: none;
          flex-direction: column;
          background-color: #f1f1f1;
          position: absolute;
          margin-top: 100px;
          top: 5px;
          right: 5px;
          padding: 10px;
          box-shadow: 0px 0px 10px #aaa;
          border-radius: 8px;
        }
        .menu a {
          text-decoration: none;
          color: #333;
          padding: 5px 0;
        }  
          .aside {
        position: static;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    
      .aside h3 {
        width: auto;
        margin-bottom: 5px;
      }
    
      .btn-cat {
        width: auto;
        margin: 5px;
      }
    
      .container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        width: 100%;
        margin: 40px;
      }
    
      .searchBar {
        width: 35%;
        padding: 5px;
       
      }
    
      .navBar {
        display: flex;
        gap: 5px;
        flex-direction: row;
        align-items: center;
        text-align: center;
        
      }
    
      .menu ul {
        flex-direction: column;
        padding: 0;
        width: 100px;
        height: 100px;
      }
    
      .logo img {
        width: 60px;
        height: 50px ;
        margin-left: 0px;
      }
    
      .dropbtn {
        margin: 10px 0;
      }

  }
  @media (max-width: 400px) {
    .main {
        flex-direction: column;
        align-items: center;
        height: 80px;
      }
      .hamburger {
        display: block; 
        font-size: 15px;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    right: 15px;
    top: 25px;

      }
     button .btn{
        font-size: 40px;
     }
      .menu {
          display: none;
          flex-direction: column;
          background-color: #f1f1f1;
          position: absolute;
          margin-top: 100px;
          top: 5px;
          right: 5px;
          padding: 10px;
          box-shadow: 0px 0px 10px #aaa;
          border-radius: 8px;
        }
        .menu a {
          text-decoration: none;
          color: #333;
          padding: 5px 0;
        }  
          .aside {
        position: static;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    
      .aside h3 {
        width: auto;
        margin-bottom: 5px;
      }
    
      .btn-cat {
        width: auto;
        margin: 5px;
      }
    
      .container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        width: 100%;
        margin: 40px;
      }
    
      .searchBar {
       
        width: 35%;
        padding: 5px;
       
      }
    
      .navBar {
        display: flex;
        
        flex-direction: row;
        align-items: center;
        text-align: center;
        
      }
    
      .menu ul {
        flex-direction: column;
        padding: 0;
        width: 100px;
        height: 100px;
      }
    
      .logo img {
        width: 60px;
        height: 50px ;
        margin-left: 0px;
      }
    
      .dropbtn {
        margin: 10px 0;
      }
    }
    @media (max-width: 456px){
        .searchBar{
            display: none;
        }
        .navBar {
            display: flex;
            flex-direction: row;
           
           
            
          }
    }